CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
BTRCLL
src/msgs/
build
res/
build/*
proto_msgs/*.pb.h
proto_msgs/*.pb.cc
proto_msgs/.cmake
.cmake
*.a
*.so
